<div class="container">
  <h1>Atenção</h1>
  <div class="info_aviso">
    <p>Os dados aqui disponíveis estão em constante atualização.</p>

    <p>A <a href="https://brasil.io/home" target="__blank">Brasil.IO</a>, a fonte dos dados deste app lembra que:</p>
    <ul>
      <li>
        As contagens estaduais podem ser diferentes das municipais, por dois
        motivos:
        <ul>
          <li>
            Secretaria estadual parou de divulgar dados por município e está
            somente divulgando por estado (isso está acontecendo com SP);
          </li>
          <li>Secretaria estadual divulgou errado (às vezes acontece).</li>
        </ul>
      </li>

      <li>
        Nem sempre nossos dados baterão com os do Ministério da Saúde, pois pode
        ser que nossa coleta seja feita depois da coleta do Ministério e, com
        isso, teremos dados mais atuais.
      </li>
    </ul>
  </div>
  <button mat-raised-button type="button" (click)="fechar()">Entendi</button>
</div>
