<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" position="end" mode="over">
    <app-region-list></app-region-list>
  </mat-drawer>
  <div class="sidenav-content">
    <div id="map">
      <div class="middle">
        <mat-form-field>
          <mat-label [innerHTML]="'map.maplabel' | translate" ></mat-label>
          <mat-select
            [(value)]="selected"
            (selectionChange)="mudancaDeModo($event)"
            value=""
          >
            <mat-option [innerHTML]="'map.citytotal' | translate" value="SELECT_CITY">
            </mat-option>
            <mat-option [innerHTML]="'map.statetotal' | translate" value="SELECT_STATE">
            </mat-option>
            <mat-option [innerHTML]="'map.citydaily' | translate" value="SELECT_CITY_PER_DAY">
            </mat-option>
            <mat-option [innerHTML]="'map.statetotal' | translate" value="SELECT_STATE_PER_DAY">
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-right">
          <div class="leaflet-bar leaflet-control">
            <a
              href="#"
              (click)="drawer.toggle()"
              role="button"
              aria-label="Search"
            >
              <i class="material-icons" style="line-height: 30px;">search</i>
            </a>
              <a
                *ngIf="!(loading$ | async)"
                href="#"
                (click)="obterDados()"
                role="button"
                aria-label="Refresh"
              >
                <i class="material-icons" style="line-height: 30px;">refresh</i>
              </a>
              <a
                *ngIf="(loading$ | async)"
                href="#"
                role="button"
              >
                ...
              </a>
          </div>
        </div>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-bottom leaflet-left">
          <div class="leaflet-control info legend leaflet-control">
            <div [innerHTML]="'map.info' | translate: {totalConfirmed: totalConfirmed, totalDeath: totalDeath, ultimaAtualizacao$: ultimaAtualizacao$ | async | date}"></div>
            Language: <a href="#" (click)="useLanguage('en')">en</a> / 
            <a href="#" (click)="useLanguage('pt-BR')">pt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
