<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" position="end" mode="over">
    <app-region-list></app-region-list>
  </mat-drawer>
  <div class="sidenav-content">
    <div id="map">
      <div class="middle">
        <mat-form-field>
          <mat-label>{{ "map.maplabel" | translate }}</mat-label>
          <mat-select
            [(value)]="mapMode"
            (selectionChange)="mudancaDeModo($event)"
          >
            <mat-option
              *ngFor="let mode of objectKeys(modesMapped)"
              [value]="mode"
            >
              {{ modesMapped[mode] | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "map.date" | translate }}</mat-label>
          <mat-select [(value)]="mapDate" (selectionChange)="mudancaDeData($event)">
            <mat-option *ngFor="let day of availableDates" [value]="day">
              {{ day?.format('LL') }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-right">
          <div class="leaflet-bar leaflet-control">
            <a
              href="#"
              (click)="drawer.toggle()"
              role="button"
              aria-label="Search"
            >
              <i class="material-icons" style="line-height: 30px;">search</i>
            </a>
            <a
              *ngIf="!(loading$ | async); else loadingIcon"
              href="#"
              (click)="obterDados()"
              role="button"
              aria-label="Refresh"
            >
              <i class="material-icons" style="line-height: 30px;">refresh</i>
            </a>
            <ng-template #loadingIcon>
              <a href="#" role="button">
                ...
              </a>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-bottom leaflet-left">
          <div class="leaflet-control info legend leaflet-control">
            <span>{{ "map.title" | translate }} {{(getSelectedMapRegion$ | async)?.nome}}</span
            ><br />
            <span
              [innerHTML]="
                'map.aftertitle'
                  | translate
                    : { totalConfirmed: totalConfirmed, totalDeath: totalDeath }
              "
            ></span>
            <span
              ><a
                href="#"
                (click)="$event.preventDefault(); abreAvisoInicial(true)"
                >(obs)</a
              ></span
            ><br />
            <span>{{
              "map.lastUpdated"
                | translate
                  : { ultimaAtualizacao$: ultimaAtualizacao }
            }}</span
            ><br />
            <div [innerHTML]="'map.info' | translate"></div>
            Language:
            <span *ngIf="!(loading$ | async); else loadSpan"
              ><a href="#" (click)="useLanguage('en')">en</a> /
              <a href="#" (click)="useLanguage('pt-BR')">pt</a></span
            >
            <ng-template #loadSpan>
              <span>...</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
