.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
table {
  width: 100%;
  height: auto;
  }

  th, td, tr {
    padding: 0.5em !important;
    height: auto !important;
  }

  .number {
    text-align: right;
  }

  .main-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    height: 100%
  }

  @media screen and (max-width: 400px) {
    .mat-column-confirmados, .mat-column-mortes, .mat-column-recuperados, .mat-paginator-range-label {
      display:none !important;
    }

    table, .mat-paginator {
      font-size: 10px !important;
    }

    .mat-cell, tr, button, .mat-header-cell {
      font-size: 1em !important;
    }
  }