.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

table {
  width: 100%;
  height: auto;
}

th,
td,
tr {
  padding: 0.5em !important;
  height: auto !important;
}
tr:hover {
  background-color: lightblue;
  cursor: pointer;
}

.number {
  text-align: right;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  height: 100%;
}
